<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.ssm.mapper.UserMapper">
<!-- 自定义返回结果集 -->
   <resultMap id="userMap" type="UserBean">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="username" column="username" javaType="java.lang.String"></result>
		<result property="password" column="password" javaType="java.lang.String"></result>
		<result property="account" column="account" javaType="java.lang.Double"></result>
	</resultMap>
	
  <resultMap id="collegeMap" type="GradeAndFieldListBean">
		<result property="name" column="college" javaType="java.lang.String"></result>
	</resultMap>
	
  <resultMap id="fieldMap" type="GradeAndFieldListBean">
		<result property="name" column="field" javaType="java.lang.String"></result>
	</resultMap>
	
  <resultMap id="gradeMap" type="GradeAndFieldListBean">
		<result property="name" column="grade" javaType="java.lang.String"></result>
	</resultMap>
	<!-- <resultMap id="traindays" type="TrainDayBean">
		<result property="day" column="day" javaType="java.lang.String"></result>
	</resultMap>
	 <resultMap id="tradinclassroom" type="TrainDayBean">
		<result property="classroom_id" column="classroom_id" javaType="java.lang.String"></result>
		<result property="classroom_num" column="classroom_num" javaType="java.lang.String"></result>
	</resultMap>	
	-->
	 <resultMap id="studentInfoMap" type="StudentBean">
   		<id property="id_no" column="id_no" javaType="java.lang.String"></id>
   		<id property="student_id" column="student_id" javaType="java.lang.String"></id>
		<result property="sex" column="sex" javaType="java.lang.String"></result>
		<result property="nation" column="nation" javaType="java.lang.String"></result>
		<result property="student_name" column="student_name" javaType="java.lang.String"></result>
		<result property="grade" column="grade" javaType="java.lang.String"></result>
		<result property="college" column="college" javaType="java.lang.String"></result>
		<result property="field" column="field" javaType="java.lang.String"></result>
		<result property="classes" column="classes" javaType="java.lang.String"></result>	
	</resultMap>
	<!-- 自定义返回结果集 -->
   <resultMap id="studentMap" type="UserBmBean">
   		<id property="id_no" column="id_no" javaType="java.lang.String"></id>
   		<id property="student_id" column="student_id" javaType="java.lang.String"></id>
		<result property="sex" column="sex" javaType="java.lang.String"></result>
		<result property="nation" column="nation" javaType="java.lang.String"></result>
		<result property="career" column="career" javaType="java.lang.String"></result>
		<result property="born_province" column="born_province" javaType="java.lang.String"></result>
		<result property="born_country" column="born_country" javaType="java.lang.String"></result>
		<result property="bory_city" column="bory_city" javaType="java.lang.String"></result>
		<result property="live_province" column="live_province" javaType="java.lang.String"></result>
		<result property="live_city" column="live_city" javaType="java.lang.String"></result>
		<result property="live_country" column="live_country" javaType="java.lang.String"></result>
		<result property="phoneno" column="phoneno" javaType="java.lang.String"></result>
		<result property="certificate_amount" column="certificate_amount" javaType="java.lang.String"></result>
		<result property="material_amount" column="material_amount" javaType="java.lang.String"></result>
		<result property="book_amount" column="book_amount" javaType="java.lang.String"></result>
		<result property="other_amount" column="other_amount" javaType="java.lang.String"></result>
		<result property="post_code" column="post_code" javaType="java.lang.String"></result>
		<result property="address" column="address" javaType="java.lang.String"></result>
		<result property="birthday" column="birthday" javaType="java.lang.String"></result>
		<result property="test_degree" column="test_degree" javaType="java.lang.String"></result>
		<result property="student_name" column="student_name" javaType="java.lang.String"></result>
		<result property="grade" column="grade" javaType="java.lang.String"></result>
		<result property="college" column="college" javaType="java.lang.String"></result>
		<result property="field" column="field" javaType="java.lang.String"></result>
		<result property="train" column="train" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 批量操作和foreach标签 -->
	
	<insert id="batchInsertUser" parameterType="java.util.List">
	   insert into t_user values 
	    <foreach collection="users" item="users" separator=",">
	     (null,#{users.username},#{users.password},#{users.account})
	    </foreach>
	</insert>
	
	<insert id="batchInsertStudent" parameterType="java.util.List">
	   insert into qccsnow.jxkj_student_table values 
	    <foreach collection="users" item="users" separator=",">
	     (#{users.student_id},#{users.student_name},#{users.sex},#{users.college},#{users.field},#{users.classes},#{users.grade},#{users.id_no},#{users.nation},#{users.birthday},#{users.location},#{users.schooling})
	    </foreach>
	</insert>
	
	
	<insert id="batchInsertStudentBaoMing" parameterType="java.util.List">
	   insert into qccsnow.jxkj_user_registry values 
	    <foreach collection="users" item="users" separator=",">
	     (#{users.student_name},#{users.id_no},#{users.sex},#{users.nation},#{users.grade},#{users.college},#{users.field},#{users.career},#{users.student_id},#{users.born_province},#{users.born_city},#{users.born_country},#{users.live_province},#{users.live_city},#{users.live_country},#{users.phoneno},#{users.certificate_amount},#{users.material_amount},#{users.book_amount},#{users.other_amount},#{users.post_code},#{users.address},#{users.birthday},#{users.test_degree},#{users.train})
	    </foreach>
	</insert>
	
	<insert id="batchInsertStudentTrain" parameterType="java.util.List">
	   insert into qccsnow.jxkj_student_train_table values 
	    <foreach collection="users" item="users" separator=",">
	     (#{users.id_no},#{users.student_id},#{users.train_room},#{users.train_time},#{users.train_school},#{users.test_time},#{users.test_school},#{users.test_room},#{users.student_name},#{users.cert_time},#{users.cert_school},#{users.cert_room})
	    </foreach>
	</insert>
	
	
	<insert id="batchInsertStudentTest" parameterType="java.util.List">
	   insert into qccsnow.jxkj_student_train_table values 
	    <foreach collection="users" item="users" separator=",">
	     (#{users.id_no},#{users.student_id},#{users.train_room},#{users.train_time},#{users.train_school},#{users.test_time},#{users.test_school},#{users.test_room},#{users.student_name},#{users.cert_time},#{users.cert_school},#{users.cert_room})
	    </foreach>
	</insert>
	
	
	<insert id="batchInsertStudentCert" parameterType="java.util.List">
	   insert into qccsnow.jxkj_student_train_table values 
	    <foreach collection="users" item="users" separator=",">
	     (#{users.id_no},#{users.student_id},#{users.train_room},#{users.train_time},#{users.train_school},#{users.test_time},#{users.test_school},#{users.test_room},#{users.student_name},#{users.cert_time},#{users.cert_school},#{users.cert_room})
	    </foreach>
	</insert>
	
	
	
	<delete id="batchDeleteUser">
	   delete from t_user where id in (
	     <foreach collection="list" item="list" separator=",">
	      #{id}
	     </foreach>
	   )
	</delete>
	
	<!--collection 为用于遍历的元素（必选），支持数组、List、Set  -->
	<!-- item 表示集合中每一个元素进行迭代时的别名. -->
	<!--separator表示在每次进行迭代之间以什么符号作为分隔 符.  -->
	
	<!--#在生成SQL时，对于字符类型参数，会拼装引号
         $在生成SQL时，不会拼装引号，可用于order by之类的参数拼装
	  -->
	<select id="pagerUser" parameterType="java.util.Map" resultMap="userMap">
	  select * from t_user where 1=1
	  <if test="username!=null">
	   and username like '%${username}%'
	  </if>
	   limit ${index},${pageSize} 
	</select>
	
	<select id="countUser" parameterType="java.util.Map" resultType="int">
		select count(*) from t_user where 1=1 
		<if test="username != null">
			and username like '%${username}%'	
		</if>
	</select>
	
	
	
	
	
	
	
	
	
	
</mapper>	